.header_container {
    background-image: url('./resourcen/DSC08772.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.name_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.name{
    font-size: 5vw;
    font-weight: 700;
    margin-left: 5vw;
}


