
.projects_mutter_container {
  height: 100vh;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.projects_container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projects_project_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}




