.topbar_container{
    background-color: rgba(0, 0, 0, 0);
    height: 7vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
}

.topbarleft_placer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 100%;
    color: #ffffff;
    margin-left: 2vw;
}

.topbarright_placer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100%;
    gap: 2vw;
    color: #ffffff;
    margin-right: 2vw;
}