@keyframes moveDown {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}



.topbar_container{
    background-color: rgb(1,1,1,0.1 );
    backdrop-filter: blur(10px);
    position: fixed;
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    animation: moveDown 2s ease-in-out;

}

.topbarleft_placer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 100%;
    color: #ffffff;
    margin-left: 2vw;
}

.topbarright_placer{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100%;
    gap: 2vw;
    color: #ffffff;
    margin-right: 2vw;
}

.topbarright_list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100%;
    gap: 2vw;
    color: #ffffff;
    margin-right: 2vw;
}

.topbarright_item{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.topbarright_item_link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.topbarright_item_link:hover {
    color: var(--schwarz);
}

.topbarright_item:hover {
    color: #000000; /* Ändere die Farbe nach Bedarf */
}